@model EJCRUD4.Models.cAccount

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "CREAR ACCOUNT";
    ViewData["Title"] = title;
}

<style>

    .input-validation-error {
        border-color: red;
    }
</style>
<div class="row justify-content-center">
    <h4>@title</h4>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>